#contentPanel {
  grid-template-rows: 1fr 1fr;
}

.color {
  min-block-size: 1vw;
  border: 1px solid rgba(200, 200, 200, 1);
  transition: background 500ms; /* For modern browsers */
}
.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}
.color.blue {
  background-color: blue;
}
.color.pink {
  background-color: hotpink;
}
.color.yellow {
  background-color: yellow;
}
.color.orange {
  background-color: orange;
}
.color.violet {
  background-color: blueviolet;
}
.color.brown {
  background-color: saddlebrown;
}
.color.gray {
  background-color: gray;
}
.color.black {
  background-color: black;
}
