/* ------------ MY DEFS -------------- */
#infoPanel {
  height: calc(100% - 20px);
  width: 346px;
  min-height: 800px;
  float: left;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 410px;
}
#logoId {
  top: -112px;
  left: -90px;
  width: 277px;
  height: 277px;
  background: #F9F4EF 0 0 no-repeat padding-box;
  border-radius: 50%;
  opacity: 0.57;
  position: absolute;
}
#logoCircle {
  top: -122px;
  left: -105px;
  width: 320px;
  height: 320px;
  background: #F9F4EF 0 0 no-repeat padding-box;
  opacity: 0.23;
  border-radius: 50%;
  position: absolute;
}
#logoImgId {
  top: 42px;
  left: 79px;
  width: 53px;
  height: 53px;
  background: transparent url('../img/app/logo symbol.png') 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
}
#logoTxtId {
  top: 96px;
  left: 79px;
  width: 136px;
  height: 39px;
  text-align: left;
  font: normal normal bold 36px/52px Poppins-600-normal;
  letter-spacing: 0;
  opacity: 1;
  position: absolute;
}
#logoTxt1Id {
  top: 0;
  left: 0;
  width: 77px;
  text-align: left;
  color: #FAA01C;
  position: absolute;
}
#logoTxt2Id {
  top: 0;
  left: 77px;
  width: 60px;
  text-align: left;
  color: #226473;
  position: absolute;
}
#welcomeTextId {
  top: 235px;
  left: 79px;
  height: 39px;
  text-align: left;
  font: normal normal bold 39px/55px Poppins-600-normal;
  letter-spacing: 0;
  color: #226473;
  opacity: 1;
  position: absolute;
}
#chooseLevelTextId {
  top: 286px;
  left: 79px;
  width: 287px;
  height: 74px;
  text-align: left;
  font: normal normal 300 30px/37px Poppins-300-normal;
  letter-spacing: 0;
  color: #3A3A3A;
  opacity: 1;
  position: absolute;
}
#footerContainerId {
  position: relative;
  overflow: hidden;
}
#footerCircle {
  width: 423px;
  height: 423px;
  background: #F9F4EF 0 0 no-repeat padding-box;
  opacity: 0.57;
  border-radius: 50%;
  position: absolute;
  bottom: -72px;
  left: -90px;
}
#footerImgId {
  width: 387px;
  height: 428px;
  background: transparent url('../img/app/chidlren.png') 0 0 no-repeat padding-box;
  opacity: 1;
  position: absolute;
  bottom: -68px;
  left: -50px;
}
