#headerMenuId {
  border-bottom: 2px solid #ccc;
  margin: 0 60px 0 0;
  display: flex;
  position: absolute;
  right: 0;
  left: 426px;
}
#userSettingsMenuId {
  margin-left: auto;
}
#userSettingsMenuId div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  top: 42px;
  z-index: 9999999;
  padding: 20px 10px 10px 10px;
  border-radius: 20px;
  right: 0;
  border: 2px solid #226473;
}
#settingsPanelTitleId {
  position: absolute;
  top: -30px;
  left: 20px;
  background-color: #fff;
  padding: 14px;
  border-radius: 20px 20px 0 0;
  font: normal normal bold 22px/14px Poppins-300-normal;
  color: #226473;
  border-top: 2px solid #226473;
}
#settingsPanelTitleId:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 28px;
  border-left: 2px solid #226473;
  border-radius: 18px 0 0 0;
  width: 100%;
}
#settingsPanelTitleId:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 28px;
  border-right: 2px solid #226473;
  border-radius: 0 18px 0 0;
  width: 100%;
}
#settingsPanelId label {
  font: normal normal bold 22px/37px Poppins-300-normal;
  color: #226473;
}

#settingsPanelId #delayRepeatCommandInputId {
  margin-bottom: 20px;
}
#settingsPanelId #delayOutputId {
  font: normal normal bold 22px/37px Poppins-600-normal;
  width: 29px;
  display: inline-block;
  text-align: right;
}
.slider-round {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #226473;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
.slider-round::-moz-range-thumb, .slider-round::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #FAA01C;
  cursor: pointer;
}
.slider-round::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 50%;
  background: #FAA01C;
  cursor: pointer;
}

#userSettingsMenuButtonId {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #226473;
  background: rgb(255, 255, 255) url('../images/app/profileSettings.svg') no-repeat center;
  background-size: 30px;
}

#settingsPanelId .checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
#settingsPanelId .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
#settingsPanelId .checkmark {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: -2px;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #ccc;
}
/* On mouse-over, add a grey background color */
#settingsPanelId .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
#settingsPanelId .checkbox-container input:checked ~ .checkmark {
  background-color: #226473;
}
/* Create the checkmark/indicator (hidden when not checked) */
#settingsPanelId .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
#settingsPanelId .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
#settingsPanelId .checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #FAA01C;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
