

.object.pointerCursor:hover {
  background: rgb(240, 240, 240);
}
.objects-container, .object {
  display: flex;
  justify-content: center;
}
.objects-container {
  height: 100%;
}

.object {
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(200, 200, 200, 1);
  background: #ffffff;
  transition: background 500ms; /* For modern browsers */
}

