html {
  color: #151515;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
}
body {
  height: 100%;
}
footer {
  text-align: center;
  background-color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

#content {
  height: calc(100% - 56px);
  padding-top: 16px;
}

#contentPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1em;
  row-gap: 1em;
  height: 100%;
  margin: 0 16px;
}

.ui-dialog {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(127, 127, 127, .5);
  z-index: 4;
}

.ui-dialog-no-close-button .ui-dialog-titlebar-close {
  display: none;
}

/* Create dialogs without title bar */
.ui-dialog-no-titlebar .ui-dialog-titlebar {
  display: none;
}

#scorePanel > div {
  display: grid;
  grid-template-columns: 50px auto;
}

#scorePanel > div:first-child {
  margin-bottom: 16px;
}

#scorePanel > div.score > img {
  height: 25px;
}

.result {
  position: fixed;
  margin: 25vh 25vw;
  height: 50%;
  width: 50%;
  text-align: center;
  display: none;
  z-index: 1000;
}

.result > img {
  height: 100%;
}

#scoreGood, #scoreBad {
  display: flex;
}

#scoreGood > div, #scoreBad > div {
  padding-left: 30px;
  font-size: 18px;
}

.pointerCursor {
  cursor: pointer;
}
