/* ------------ MY DEFS -------------- */
#selLevelDivId {
  display: grid;
  row-gap: 2em;
  height: 100%;
}

.levelButton {
  background-color: #FFF;
  display: grid;
  padding: 15px 25px 15px 40px;
  margin: 0 60px 0 90px;
  text-decoration: none;
  border-radius: 20px;
  transition: box-shadow 250ms; /* For modern browsers */
  white-space: nowrap;
}
.levelButton:first-child {
  margin: 60px 60px 0 90px;
}
.levelButton:last-child {
  margin: 0 60px 60px 90px;
}
.levelButton:hover {
  box-shadow: 0 -12px 4px -4px inset rgba(240, 240, 240, .9);
}

.selLevelDetails {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
.selLevelLabel {
  font: normal normal bold 22px/37px Poppins-600-normal;
  letter-spacing: 0;
  color: #226473;
  text-transform: uppercase;
  padding-right: 40px;
}
.selLevelDesc {
  text-align: left;
  font: normal normal bold 22px/37px Poppins-600-normal;
  letter-spacing: 0;
  color: #3E3E3E;
}

.iconLevel {
  -webkit-mask: url(../images/app/babyBoy.svg);
  -webkit-mask-size: cover;
  display: inline-block;
  background: #EFE7E0;
  width: 57px;
  height: 51px;
  margin-right: 8px;
}

.iconLevel.active {
  background: #FAA01C;
}
