#contentPanel {
  margin: 0;
  grid-template-columns: 1fr;
}

.clickable-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3em;
  row-gap: 2em;
  margin: 0 60px 0;
}

.activity-item {
  display: grid;
  row-gap: 8px;
  font: normal normal bold 22px/24px Poppins-600-normal;
  background-color: #FFF;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  color: #226473;
  border-radius: 20px;
  box-shadow: 0 1px 4px -2px #333;
  text-shadow: 0 -1px #ddd;
  position: relative;
  min-height: 114px;
  min-width: 200px;
  flex: 1;
  margin: 0 0 1em 0;
}

.click-item {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.error-indicator {
  animation: errorAnimation 1s;
}
@keyframes errorAnimation {
  from {background-color: red;}
  to {background-color: inherit;}
}

.success-indicator {
  opacity: .25;
  animation: successAnimation 1s;
}
@keyframes successAnimation {
  from {background-color: #47f135;}
  to {background-color: inherit;}
}
