#contentPanel {
  display: block;
  min-height: 600px;
  overflow: auto;
  margin: 0;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 3em;
  margin: 0 60px 0;
}

.activity-item, .draggable-container {
  display: grid;
  row-gap: 8px;
  font: normal normal bold 22px/24px Poppins-600-normal;
  background-color: #FFF;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  color: #226473;
  border-radius: 20px;
  box-shadow: 0 1px 4px -2px #333;
  text-shadow: 0 -1px #ddd;
  transition: box-shadow 250ms;
  position: relative;
  min-height: 114px;
  flex: 1;
  margin: 0 0 1em 0;
}

.draggable-container {
  background-color: transparent;
  max-height: 100px;
  max-width: 150px;
}

.separator {
  height: 1px;
  background-color: gray;
  margin-bottom: 1.4em;
}

.drag-item {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grab;
}

.hide-src-while-dragging {
  transition: 0.01s;
  transform: translateX(-9999999px);
}

.index-nb {
  position: fixed;
  opacity: .5;
  border-radius: 50%;
  border: 3px solid #226473;
  padding: 0 7px;
}
