/* supported shapes */
.square {
  width: 300px;
  height: 300px;
  background: #0088ff;
  --audio: "sounds/shapes/square.ogg";
}

.rectangle {
  width: 300px;
  height: 150px;
  background: #0088ff;
  --audio: "sounds/shapes/rectangle.ogg";
}

.circle {
  width: 300px;
  height: 300px;
  background: #0088ff;
  border-radius: 50%;
  --audio: "sounds/shapes/circle.ogg";
}

.triangle {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid #0088ff;
  --audio: "sounds/shapes/triangle.ogg";
}

.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  border-right: .3em solid transparent;
  border-bottom: .7em solid #0088ff;
  border-left: .3em solid transparent;
  top: 0.05em;

  font-size: 160px;/* Controlls the size of the stars. */

  --audio: "sounds/shapes/star.ogg";
}

.star:before, .star:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: .6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: .7em solid #0088ff;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}

.star:after {
  transform: rotate(35deg);
}

.diamond {
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-bottom: 140px solid #0088ff;
  position: relative;
  top: -120px;
  --audio: "sounds/shapes/diamond.ogg";
}
.diamond:after {
  content: '';
  position: absolute;
  left: -100px;
  top: 140px;
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-top: 140px solid #0088ff;
}

/* needed css stuff */
.shape {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(200, 200, 200, 1);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

